### Hudzaifah Alqarani
### 2109106089

## Import Library

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import numpy as np
from sklearn.impute import SimpleImputer

## Membaca dan menampikan data set

In [2]:
df = pd.read_csv("Drug_clean.csv")
df

,Condition,Drug,EaseOfUse,Effective,Form,Indication,Price,Reviews,Satisfaction,Type
0,Acute Bacterial Sinusitis,Amoxicillin,3.852353,3.655882,Capsule,On Label,12.590000,86.294118,3.197647,RX
1,Acute Bacterial Sinusitis,Amoxicillin-Pot Clavulanate,3.470000,3.290000,Liquid (Drink),Off Label,287.370000,43.000000,2.590000,RX
2,Acute Bacterial Sinusitis,Amoxicillin-Pot Clavulanate,3.121429,2.962857,Tablet,On Label,70.608571,267.285714,2.248571,RX
3,Acute Bacterial Sinusitis,Ampicillin,2.000000,3.000000,Capsule,On Label,12.590000,1.000000,1.000000,RX
4,Acute Bacterial Sinusitis,Ampicillin,3.250000,3.000000,Tablet,On Label,125.240000,15.000000,3.000000,RX
...,...,...,...,...,...,...,...,...,...,...
680,vulvovaginal candidiasis,Miconazole Nitrate,3.465000,2.770000,Cream,On Label,13.990000,19.500000,2.345000,RX/OTC
681,vulvovaginal candidiasis,Miconazole-Skin Clnsr17,4.750000,3.000000,Cream,On Label,13.990000,4.000000,3.000000,OTC
682,vulvovaginal candidiasis,Miconazole-Skin Clnsr17,4.000000,1.000000,Other,On Label,125.990000,1.000000,1.000000,OTC
683,vulvovaginal candidiasis,Terconazole,3.525000,3.047500,Cream,On Label,68.990000,20.000000,2.717500,RX
684,vulvovaginal candidiasis,Tioconazole,3.852500,2.022500,Other,On Label,22.990000,145.000000,1.827500,OTC

## Bagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [3]:
x = df.iloc[:, :-1] # feature
y = df.iloc[:, -1] # target
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, train_size=0.7)

### Print jumlah row dan kolom dari x train, x test, y train, y test

In [4]:
print('Ini x train => ', x_train.shape)
print('Ini x test  => ', x_test.shape)
print('Ini y train => ', y_train.shape)
print('Ini y test  => ', y_test.shape)

Ini x train =>  (479, 9)
Ini x test  =>  (206, 9)
Ini y train =>  (479,)
Ini y test  =>  (206,)

### Menampilkan isi data x train

In [5]:
x_train

,Condition,Drug,EaseOfUse,Effective,Form,Indication,Price,Reviews,Satisfaction
23,Atopic Dermatitis,Clobetasol,4.3525,3.942500,Liquid (Drink),On Label,174.99,90.375000,3.690000
426,gout,Celecoxib,3.9850,3.425000,Capsule,Off Label,215.99,394.000000,3.155000
550,hypertension,Chlorthalidone,4.3000,2.673333,Tablet,On Label,37.99,24.333333,2.416667
621,hypertension,Verapamil,5.0000,4.000000,Capsule,On Label,172.39,6.000000,4.000000
367,gastroesophageal reflux disease,Al Hyd-Mg Tr-Alg Ac-Sod Bicarb,2.0000,2.000000,Liquid (Drink),Off Label,5.99,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...
8,Acute Bacterial Sinusitis,Erythromycin,2.8950,3.255000,Tablet,On Label,125.24,41.000000,2.510000
534,hypertension,Azilsartan Med-Chlorthalidone,4.4200,4.340000,Liquid (Drink),On Label,255.99,37.500000,3.765000
468,hemorrhoids,Lidocaine,4.6000,4.133333,Other,On Label,294.99,6.666667,4.133333
345,fibromyalgia,Pramipexole,4.2700,3.986667,Tablet,Off Label,89.99,166.666667,3.776667
264,endometriosis,Norethin-Eth Estrad Biphasic,4.2500,4.500000,Tablet,Off Label,31.99,4.000000,3.000000

### Menampilkan isi data y train

In [6]:
y_train

23      RX
426     RX
550     RX
621     RX
367    OTC
      ...
8       RX
534     RX
468    OTC
345     RX
264     RX
Name: Type, Length: 479, dtype: object

### Menampilkan isi data x test

In [7]:
x_test

,Condition,Drug,EaseOfUse,Effective,Form,Indication,Price,Reviews,Satisfaction
162,Pharyngitis due to Streptococcus Pyogenes,Cefixime,3.09,2.7300,Tablet,On Label,125.24,47.00,1.4500
152,Infantile Autism,Risperidone,3.28,2.7025,Tablet,On Label,39.49,216.75,2.2125
605,hypertension,Ramipril,4.43,3.9200,Capsule,On Label,54.99,156.00,3.5000
481,hemorrhoids,Pramoxine-Calamine,3.00,5.0000,Liquid (Drink),On Label,9.68,1.00,5.0000
454,gout,"Pseudoephedrine-Ibuprofen, Ibuprofen",5.00,5.0000,Liquid (Drink),Off Label,18.99,1.00,5.0000
...,...,...,...,...,...,...,...,...,...
126,Bacterial Urinary Tract Infection,Ciprofloxacin Hcl,3.43,3.5700,Tablet,On Label,18.75,22.00,3.0000
608,hypertension,Telmisartan,3.83,3.6500,Tablet,On Label,146.99,104.50,3.1650
199,back pain,"Trolamine Salicylate, Ala-Bos-Gin-Bas-Rose-Tur...",3.00,5.0000,Cream,\r\r\n,11.99,2.00,3.0000
380,gastroesophageal reflux disease,"Calcium Carbonate-Mag Hydroxid, Calcium Carbon...",1.00,1.0000,Liquid (Drink),Off Label,5.99,1.00,1.0000
643,prevention of cerebrovascular accident,Pravastatin,3.66,2.8500,Tablet,On Label,28.99,534.00,2.0700

### Menampilkan isi data y test

In [8]:
y_test

162     RX
152     RX
605     RX
481    OTC
454    OTC
      ...
126     RX
608     RX
199    OTC
380    OTC
643     RX
Name: Type, Length: 206, dtype: object

##  Normalisasi data pada salah satu attribute menggunakan Min Max scaler

In [9]:
dataset =  df.copy()
Scaler = MinMaxScaler()
Normalized_Data = Scaler.fit_transform(dataset[['Satisfaction']])
dataset['Satisfaction'] = Normalized_Data

In [10]:
print("sebelum dinormalisasi: ")
print(df['Satisfaction'].describe())
print('\n')
print("setelah dinormalisasi: ")
print(dataset['Satisfaction'].describe())

sebelum dinormalisasi:
count    685.000000
mean       3.195699
std        1.030442
min        1.000000
25%        2.575000
50%        3.200000
75%        3.901250
max        5.000000
Name: Satisfaction, dtype: float64


setelah dinormalisasi:
count    685.000000
mean       0.548925
std        0.257610
min        0.000000
25%        0.393750
50%        0.550000
75%        0.725313
max        1.000000
Name: Satisfaction, dtype: float64

## Standarisasi

In [11]:
dataset1 =  df.copy()
Scaler = StandardScaler()
Scaled_Data = Scaler.fit_transform(dataset[['Satisfaction']])
dataset1['Satisfaction'] = Scaled_Data

### Menampilkan hasil dari standar deviasi sebelum di standarisasi, dan setelah di standarisasi

In [12]:
print("sebelum dinormalisasi : ")
print("Nilai Standar deviasi >> ", np.std(df['Satisfaction']))
print('\n')
print("setelah distandarisasi : ")
print("Nilai Standar deviasi >> ", np.std(dataset1['Satisfaction']))

sebelum dinormalisasi :
Nilai Standar deviasi >>  1.029689218952914


setelah distandarisasi :
Nilai Standar deviasi >>  1.0

## Data cleaning
1. Mengubah tipe data goal dari Object menjadi Float 64
2. Membuat kolom Goal, Pledged, dan Country menjadi Null menggunakan np.nan
3. Menampilkan banyak nya nilai null pada kolom Goal, Pledged, dan Country menggunakan :
("dataset['Kolom'].isna().sum()")()")

In [13]:
dataset2 = df.copy()
dataset2['Price'] = dataset2['Reviews'].astype('int64')
print("\nJumlah nilai null pada Setiap kolom sebelum cleaning : ")
dataset2.isna().sum()

Jumlah nilai null pada Setiap kolom sebelum cleaning :

Condition       0
Drug            0
EaseOfUse       0
Effective       0
Form            0
Indication      0
Price           0
Reviews         0
Satisfaction    0
Type            0
dtype: int64

## Mengatasi nilai null pada kolom Price yang bertipe bilangan bulat (integer)

### Metode Median

##### disini saya menambahkan directory baru buat menambah nilai null

In [14]:
dict_baru = {}

for ok in list(df.columns):
    dict_baru[ok] = [np.nan]

pd_baru = pd.DataFrame(dict_baru)
pd_baru


dataset2 = pd.concat([dataset2, pd_baru], ignore_index= True)

In [15]:
dataset2.loc[1000:, 'Price'] = np.nan

print("Jumlah Nilai Null pada kolom  Price sebelum >>", dataset2['Price'].isna().sum())

dataset2['Price'].fillna(dataset2['Price'].median(), inplace=True)

print("\nJumlah Nilai Null pada kolom  Price Setelah >>", dataset2['Price'].isna().sum())

Jumlah Nilai Null pada kolom  Price sebelum >> 1

Jumlah Nilai Null pada kolom  Price Setelah >> 0

### Metode Modus

In [16]:
dict_baru = {}

for ok in list(df.columns):
    dict_baru[ok] = [np.nan]

pd_baru = pd.DataFrame(dict_baru)
pd_baru


dataset2 = pd.concat([dataset2, pd_baru], ignore_index= True)

In [17]:
dataset2.loc[1000:, 'Price'] = np.nan

print("Jumlah Nilai Null pada kolom  Price sebelum >>", dataset2['Price'].isna().sum())

dataset2['Price'].fillna(dataset2['Price'].mode()[0], inplace=True)

print("\nJumlah Nilai Null pada kolom  Price Setelah >>", dataset2['Price'].isna().sum())

Jumlah Nilai Null pada kolom  Price sebelum >> 1

Jumlah Nilai Null pada kolom  Price Setelah >> 0

### Metode Mean

In [24]:
dict_baru = {}

for ok in list(df.columns):
    dict_baru[ok] = [np.nan]

pd_baru = pd.DataFrame(dict_baru)
pd_baru


dataset2 = pd.concat([dataset2, pd_baru], ignore_index= True)

In [25]:
dataset2.loc[1000:, 'Price'] = np.nan

print("Jumlah Nilai Null pada kolom  Price sebelum >>", dataset2['Price'].isna().sum())

dataset2['Price'].fillna(dataset2['Price'].mean(), inplace=True)

print("\nJumlah Nilai Null pada kolom  Price Setelah >>", dataset2['Price'].isna().sum())

Jumlah Nilai Null pada kolom  Price sebelum >> 1

Jumlah Nilai Null pada kolom  Price Setelah >> 0

## Mengatasi nilai null pada kolom Effective yang bertipe bilangan desimal (Float)

### Metode Median

In [20]:
dict_baru = {}

for ok in list(df.columns):
    dict_baru[ok] = [np.nan]

pd_baru = pd.DataFrame(dict_baru)
pd_baru


dataset2 = pd.concat([dataset2, pd_baru], ignore_index= True)

In [21]:
dataset2.loc[200000:, 'Effective'] = np.nan

print("Jumlah Nilai Null pada kolom  Effective sebelum >>", dataset2['Effective'].isna().sum())

dataset2['Effective'].fillna(dataset2['Effective'].median(), inplace=True)

print("\nJumlah Nilai Null pada kolom  Effective Setelah >>", dataset2['Effective'].isna().sum())

Jumlah Nilai Null pada kolom  Effective sebelum >> 4

Jumlah Nilai Null pada kolom  Effective Setelah >> 0

### Metode Modus

In [26]:
dict_baru = {}

for ok in list(df.columns):
    dict_baru[ok] = [np.nan]

pd_baru = pd.DataFrame(dict_baru)
pd_baru


dataset2 = pd.concat([dataset2, pd_baru], ignore_index= True)

In [27]:
dataset2.loc[200000:, 'Effective'] = np.nan

print("Jumlah Nilai Null pada kolom  Effective sebelum >>", dataset2['Effective'].isna().sum())

dataset2['Effective'].fillna(dataset2['Effective'].mode()[0], inplace=True)

print("\nJumlah Nilai Null pada kolom  Effective setelah >>", dataset2['Effective'].isna().sum())

Jumlah Nilai Null pada kolom  Effective sebelum >> 2

Jumlah Nilai Null pada kolom  Effective setelah >> 0

### Metode Mean

In [28]:
dict_baru = {}

for ok in list(df.columns):
    dict_baru[ok] = [np.nan]

pd_baru = pd.DataFrame(dict_baru)
pd_baru


dataset2 = pd.concat([dataset2, pd_baru], ignore_index= True)

In [30]:
dataset2.loc[200000:, 'Effective'] = np.nan

print("Jumlah Nilai Null pada kolom  Effective sebelum >>", dataset2['Effective'].isna().sum())

dataset2['Effective'].fillna(dataset2['Effective'].mean(), inplace=True)

print("\nJumlah Nilai Null pada kolom  Effective setelah >>", dataset2['Effective'].isna().sum())

Jumlah Nilai Null pada kolom  Effective sebelum >> 1

Jumlah Nilai Null pada kolom  Effective setelah >> 0

## Mengatasi nilai null pada kolom Drug yang bertipe Tulisan (String/Object)

In [31]:
dict_baru = {}

for ok in list(df.columns):
    dict_baru[ok] = [np.nan]

pd_baru = pd.DataFrame(dict_baru)
pd_baru


dataset2 = pd.concat([dataset2, pd_baru], ignore_index= True)

In [32]:
dataset2.loc[200000:, 'Drug'] = np.nan

print("Jumlah Nilai Null pada kolom Drug sebelum >>", dataset2['Drug'].isna().sum())

dataset2['Drug'].fillna(dataset2['Drug'].mode()[0], inplace=True)

print("\nJumlah Nilai Null pada kolom Drug setelah >>", dataset2['Drug'].isna().sum())

Jumlah Nilai Null pada kolom Drug sebelum >> 8

Jumlah Nilai Null pada kolom Drug setelah >> 0

## Menampilkan jumlah nilai null setelah cleaning

In [37]:
print("\nJumlah nilai null pada Setiap kolom setelah cleaning : ")
dataset2.isna().sum()

Jumlah nilai null pada Setiap kolom setelah cleaning :

Condition       0
Drug            0
EaseOfUse       0
Effective       0
Form            0
Indication      0
Price           0
Reviews         0
Satisfaction    0
Type            0
dtype: int64

## Membuat nilai duplikasi pada dataset dan menjumlahkan banyaknya data duplicat pada Data set

In [47]:
dataset2.iloc[100, :] = dataset2.iloc[101, :]
dataset2.iloc[200, :] = dataset2.iloc[201, :]
dataset2.iloc[300, :] = dataset2.iloc[301, :]
dataset2.iloc[400, :] = dataset2.iloc[401, :]
dataset2.duplicated().sum()

4

## Mengatasi nilai Duplicate dengan menggunakan => ("drop_duplicate"), dan menghitung ulang banyaknya jumlah data duplikasi di dalam dataset

In [48]:
dataset2.drop_duplicates(inplace=True)
dataset2.duplicated().sum()

0

### Mengganti tipe data pada slah satu attribute angka

In [49]:
print("Tipe data kolom 'Satisfaction' sebelum dirubah => ", dataset2['Satisfaction'].dtypes )

Tipe data kolom 'Satisfaction' sebelum dirubah =>  float64

In [50]:
dataset2['Satisfaction'] = dataset2['Satisfaction'].astype('int64')
print("Tipe data kolom 'Satisfaction' setelah dirubah => ", dataset2['Satisfaction'].dtypes )

Tipe data kolom 'Satisfaction' setelah dirubah =>  int64

### Menampilkan seluruh tipe data kolom

In [51]:
dataset2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 681 entries, 0 to 684
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Condition     681 non-null    object
 1   Drug          681 non-null    object
 2   EaseOfUse     681 non-null    float64
 3   Effective     681 non-null    float64
 4   Form          681 non-null    object
 5   Indication    681 non-null    object
 6   Price         681 non-null    int64
 7   Reviews       681 non-null    float64
 8   Satisfaction  681 non-null    int64
 9   Type          681 non-null    object
dtypes: float64(3), int64(2), object(5)
memory usage: 58.5+ KB

## Encoding

#### encoding data dri kolom Drug, dan merubah tipe datanya menjadi 1nt64

In [52]:
encoding = pd.get_dummies(df[['Drug']])
dataset5 = df.join(encoding.astype('int64'))

dataset5.drop('Drug', axis=1, inplace=True)

#### Menampilkan per row dari jumlah kolom yang di encoding tadi

In [53]:
dataset5

,Condition,EaseOfUse,Effective,Form,Indication,Price,Reviews,Satisfaction,Type,Drug_ASA-Acetaminophen-Salicyl-Caff,...,Drug_Ursodiol,Drug_Valacyclovir,Drug_Valsartan,Drug_Valsartan-Hydrochlorothiazide,Drug_Verapamil,Drug_Vit E-Glycerin-Dimethicone,"Drug_Vit E-Glycerin-Dimethicone, Glycerin-Dimethicone-Petro, Wh",Drug_Vit E-Grape-Hyaluronate Sodium,Drug_Zanamivir,Drug_Zinc Oxide
0,Acute Bacterial Sinusitis,3.852353,3.655882,Capsule,On Label,12.590000,86.294118,3.197647,RX,0,...,0,0,0,0,0,0,0,0,0,0
1,Acute Bacterial Sinusitis,3.470000,3.290000,Liquid (Drink),Off Label,287.370000,43.000000,2.590000,RX,0,...,0,0,0,0,0,0,0,0,0,0
2,Acute Bacterial Sinusitis,3.121429,2.962857,Tablet,On Label,70.608571,267.285714,2.248571,RX,0,...,0,0,0,0,0,0,0,0,0,0
3,Acute Bacterial Sinusitis,2.000000,3.000000,Capsule,On Label,12.590000,1.000000,1.000000,RX,0,...,0,0,0,0,0,0,0,0,0,0
4,Acute Bacterial Sinusitis,3.250000,3.000000,Tablet,On Label,125.240000,15.000000,3.000000,RX,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,vulvovaginal candidiasis,3.465000,2.770000,Cream,On Label,13.990000,19.500000,2.345000,RX/OTC,0,...,0,0,0,0,0,0,0,0,0,0
681,vulvovaginal candidiasis,4.750000,3.000000,Cream,On Label,13.990000,4.000000,3.000000,OTC,0,...,0,0,0,0,0,0,0,0,0,0
682,vulvovaginal candidiasis,4.000000,1.000000,Other,On Label,125.990000,1.000000,1.000000,OTC,0,...,0,0,0,0,0,0,0,0,0,0
683,vulvovaginal candidiasis,3.525000,3.047500,Cream,On Label,68.990000,20.000000,2.717500,RX,0,...,0,0,0,0,0,0,0,0,0,0
684,vulvovaginal candidiasis,3.852500,2.022500,Other,On Label,22.990000,145.000000,1.827500,OTC,0,...,0,0,0,0,0,0,0,0,0,0